@import "tailwindcss";

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  /* declaring a variable in the root --> this is not styling anything yet */
    --bg-colour: #fff;
    --main-font: "Georgia", serif ;
}

.app {
  font-family: var(--main-font);
  padding: 1rem;
  position: relative;
  min-height: 100vh;
  background-color: var(--bg-colour);
  color: var(--color-teal-950);
  text-align: center ;
}
