@import "tailwindcss";

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  /* declaring a variable in the root --> this is not styling anything yet */
    --bg-colour: #fff;
    --main-font: "Georgia", serif ;
    --nav-button: var(--color-amber-200) ;
    --nav-shadow: var(--color-orange-100);
    --gallery-container: var(--color-amber-100);
}

body, html, #root {
  height: 100%;
  background-color: var(--bg-colour);
  color: var(--text-color);
  font-family: var(--main-font);
  overflow: hidden; /* prevent page scroll */
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem 1.5rem 0 1.5rem;
  text-align: center;
}